@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
body { font-family: open sans; }
.header { clear: both; font-size: 20pt; border-bottom: 1px solid gray;}
.header_left {float:left;}
.header_right {float:right;}

.content {min-width: 600px; padding-left: 230px; position: relative;}
.content h1 {margin-left: -30px;}
.content h2 {margin-left: -30px; font-size: 15pt; color: #555;}

.sidebar{ width: 200px; left:0px; position: absolute; font-size: smaller;}
.sidebar h1, .sidebar h2 {margin-left: 0px;}

.container {}
.word {font-family: Open Sans; font-size: 12pt; max-width: 400px; text-align: right;}
.word-small {font-family: Open Sans; font-size: 9pt; max-width: 400px; text-align: right;}

.pagination {margin-top: 50px;}

a {text-decoration:none;}
a, .link {border-bottom: 1px dotted gray; cursor: pointer;}
a:hover, .link:hover {border-bottom: 1px solid black;}



.spark {}

table {float:left; margin-right: 20px; }
p {font-size: 12pt; width: 500px; margin: 15px; }
p.wide {width: 700px;}
h1 { }
.count {font-size: 10pt;}
table.topk {margin: 20px;}
.year {font-weight: bold;}
b {color: #449;}
.footer {display: block; clear:both; text-align: center; font-size: 10pt;}
.ui-autocomplete  {max-height: 200px; overflow: auto;}