{% extends 'home/base.html' %}

{% block content %}
<h1 >I found {{nauth}} people</h1>

<div>
	
<table>
{% for auth in auths.object_list %}
<tr><td>{{auth.pubcount}}</td><td><a href="/author/{{auth.name}}">{{auth.name}}</a> </td></tr>
{% endfor %}
</table>
<div style="clear:both"/>
</div>

<div class="pagination">
    <span class="step-links">
        {% if auths.has_previous %}
            <a href="?page={{ auths.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ auths.number }} of {{ auths.paginator.num_pages }}.
        </span>

        {% if auths.has_next %}
            <a href="?page={{ auths.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


{% endblock %}