{% extends "home/base.html" %}

{% block head %}
<script>
google.load("visualization", "1", {packages:["corechart"]});
{% if pclabels and pcdata %}
google.setOnLoadCallback(drawChart);
{% endif %}

function drawChart() {
  var data = new google.visualization.DataTable();
  {% for label in pclabels %}
	{% if forloop.first %}
  		data.addColumn('string', '{{label}}');
    {% else %}
  		data.addColumn('number', '{{label}}');
    {% endif %}
  {% endfor %}


  data.addRows([
	{% for row in pcdata %} 
	[
		{% for col in row %}
			{% if forloop.first %}'{{col}}'{% else %}{{col}}{% endif %}
			{% if not forloop.last %},{% endif %}
		{% endfor %}
	]
	{% if not forloop.last %},{%endif%}
	{% endfor %}

  ]);

  var chart = new google.visualization.AreaChart(document.getElementById('stackgraph'));
  chart.draw(data, {width: 800, height: 500,
					chartArea: {left:60,top:20,width:740,height:420},
                    hAxis: {title: 'Year', },
                    vAxis: {title: 'Term Counts', },
					legend: 'none',
					lineWidth: 0,
					isStacked: true,
                   });
}
</script>
{% endblock %}

{% block header %}
&#149; {{author.name}}
{% endblock %}


{% block js %}



	$("#more").hide();
	$("#more_link").click(function(){$("#more").toggle()})

	function toggle_wordcloud(suffix) {
		$(".yeartab").removeClass("selected");
		$(".wordcloud").hide()		
		$("#yeartab" + suffix).addClass("selected");
		$("#wordcloud" + suffix).show()		
	}

	var yearbar = $("#yearbar");
	
	$("<div class='yeartab' id='yeartaball'>All Years</a>").click(function() {
		toggle_wordcloud("all");
	}).appendTo(yearbar);

	{% for year in wordyears %}
	$("<div class='yeartab' id='yeartab{{year}}'>{{year}}</a>").click(function() {
		toggle_wordcloud("{{year}}");
	}).appendTo(yearbar);
	{% endfor %}
	
	
	$("#yeartaball").click();
	
	
	
	// create stacked graph

{% endblock %}

{% block css %}
	table {float:none;}
{% endblock %}

{% block content %}


<h2>{{author.pubcount}} Publications overall</h2>
<table>
	<tr>
		<td><span class='spark'>
			{% for v in overallcounts %}
				{{v}}
				{%if not forloop.last%},{%endif%}
			{% endfor%}
		</span></td>
		<td >over all venues</td>	
	</tr>
</table>

<h2>Publications per year by venue</h2>
<div>
<table>
	
{% for k,vs in counts %}
<tr>
	<td><span class='spark'>
		{% for v in vs %}
			{{v}}
			{%if not forloop.last%},{%endif%}
		{% endfor%}
	</span></td>
	<td ><a class="link" href="/conference/{{k}}/">{{k}}</a></td>	
</tr>

{% if forloop.counter == 10 %}
</table>
<div><span class="link" id="more_link">show {{ counts|length|add:"-10"}} more</span></div>
<table id="more" >
{% endif %}


{% endfor %}
</table>
<div style='clear:both'/>
</div>



<h2>Favorite Terms</h2>

	<div id="yearbar" style="float:left; display: none;"></div>
	<div id="yearwordcloud" style="float:left">
		<table class="wordcloud" id="wordcloudall" style="display:none; float:none;">
			{% for word, count, size in allwords %}
			<tr><td>{{count}}</td><td><span style="font-size:{{size}}pt;">{{word}}</span></td></tr>
			{% endfor %}
		</table>		
		
		{% for year, words in wordyears.items %}
		<table class="wordcloud" id="wordcloud{{year}}" style="display:none;">
			{% for word, pair in words.items %}
			<tr><td>{{pair.0}}</td><td><span style="font-size:{{pair.1}}pt;">{{word}}</span></td></tr>
			{% endfor %}
		</table>
		{% endfor %}
	</div>
	<div style="clear:both;"/>



<div style="height: 20px">&nbsp;</div>
<h2>Trends for top terms over publication history</h2>
	<div id="stackgraph"></div>
	<!-- used to include test.html -->
	<div style="clear:both"></div>

<h2>Similar Authors</h2>
<div style="margin: 10px">
  {% for sa in similarauthors %}
    <span style="padding: 0px 10px 0px 0px"><a href="/author/{{ sa.toauth.name }}">{{ sa.toauth.name }}</a></span>
	{% if forloop.counter|divisibleby:5 %}
          <br />
	{% endif %}
  {% endfor %}
  <div style="clear:both"></div>
</div>



{% endblock %}
