{% extends "home/base.html" %}

{% block js %}

	$("#more").hide();
	$("#more_link").click(function(){$("#more").toggle()})

	function toggle_wordcloud(suffix) {
		$(".yeartab").removeClass("selected");
		$(".wordcloud").hide()		
		$("#yeartab" + suffix).addClass("selected");
		$("#wordcloud" + suffix).show()		
	}

	var yearbar = $("#yearbar");
	
	$("<div class='yeartab' id='yeartaball'>All Years</a>").click(function() {
		toggle_wordcloud("all");
	}).appendTo(yearbar);

	{% for year in wordyears %}
	$("<div class='yeartab' id='yeartab{{year}}'>{{year}}</a>").click(function() {
		toggle_wordcloud("{{year}}");
	}).appendTo(yearbar);
	{% endfor %}
	
	
	$("#yeartaball").click();

{% endblock %}

{% block css %}
	table {float:none;}
	.yeartab {list-style-type: none; margin: 0px;}
	.yeartab:hover {cursor:pointer; border-bottom: 1px dotted gray;}
	#yearbar {padding:0px}
	#yearwordcloud {margin-left: 20px}
	.wordcloud {}
	.selected {border-bottom: 1px solid blue}
{% endblock %}

{% block content %}

<h1 >What's hot with {{name}}?</h1>


<div>
<table>
{% for k,vs in counts %}
<tr>
	<td><span class='spark'>
		{% for v in vs %}
			{{v}}
			{%if not forloop.last%},{%endif%}
		{% endfor%}
	</span></td>
	<td ><a class="link" href="/conference/{{k}}/">{{k}}</a></td>	
</tr>

{% if forloop.counter == 10 %}
</table>
<div><span class="link" id="more_link">show {{ counts|length|add:"-10"}} more</span></div>
<table id="more" >
{% endif %}


{% endfor %}
</table>
<div style='clear:both'/>
</div>

<div style="margin-top: 50px">
	<div id="yearbar" style="float:left">
	</div>
	<div id="yearwordcloud" style="float:left">
		<table class="wordcloud" id="wordcloudall" style="display:none; float:none;">
			{% for word, count, size in allwords %}
			<tr><td>{{count}}</td><td><span style="font-size:{{size}}pt;">{{word}}</span></td></tr>
			{% endfor %}
		</table>		
		
		{% for year, words in wordyears.items %}
		<table class="wordcloud" id="wordcloud{{year}}" style="display:none;">
			{% for word, count, size in words %}
			<tr><td>{{count}}</td><td><span style="font-size:{{size}}pt;">{{word}}</span></td></tr>
			{% endfor %}
		</table>
		{% endfor %}
	</div>
	<div style="clear:both"/>
</div>

{% endblock %}
