<html>
<head>
	<script src="/media/js/jquery.js"></script>
	<script src="/media/js/jquery-ui.js"></script>
	<script src="/media/js/sparklines.js"></script>
	<script src="/media/js/main.js"></script>	
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	
    <script type="text/javascript" src="/media/js/protovis.js"></script>
	<link rel="stylesheet" href="/media/css/ui-lightness/jquery-ui-1.8.16.custom.css" type="text/css" media="all" /> 
	<link rel="stylesheet" href="/media/css/style.css" type="text/css" media="all" /> 	
	
	<script>
	$(function() {
		$('.spark').sparkline('html', {width: "150px", type:'bar', chartRangeMax:{% if maxcount %}{{maxcount}}{% else %}0{%endif%} });    
		autocomplete("auths_input","/authors/json/","/author/");
		autocomplete("confs_input","/conferences/json/","/conference/");		
		{% block js %}
		{% endblock %}

 
	});
	
	function authorform_submit() {
		$(location).attr('href', '/author/' + $("#auths_input").val() + "/");
		return false;
	}
	function confform_submit() {
		$(location).attr('href', '/conference/' + $("#confs_input").val() + "/");
		return false;
	}
	</script>
	{% block head %}
	{% endblock %}
	
	<style>
	ul {list-style-type:none;padding-left:0;}
	{% block css %}{% endblock %}
	</style>
</head>
<body>
	
	<div class="header">
		<div class="header_left">
			<a href="/">Conference Viz</a>  
			{% block header %}{% endblock %} 
		</div>
		<div class="header_right">What's hot?</div>
		<div style="clear:both"></div>
		
	</div>
	<div class="content">	
	<div class="sidebar">
		
		<h2><a href="/author/">Authors</a></h2>
		<form onsubmit="return authorform_submit()" action='/author/' method='GET'><input name="name" id="auths_input" /></form>

		<h2><a href="/conference/">Conferences</a></h2>
		<form onsubmit="return confform_submit()" action='/conference/' method='GET'><input name="name" id="confs_input" /></form>
		
		<ul>
		<li><a href="/conference/VLDB">VLDB</a>
		</ul>
		
		<h2>Fun</h2>
		<ul>
		<li><a href="/stats/fname/">First names</a>
		</ul>
		{% block sidebar %}{% endblock %}
	</div>

		{% block content %} something	{% endblock %}		
	</div>
	<div style="clear:both"/>


	<div class='footer'><a href="http://www.sirrice.com/">eugene wu</a>, 
		<a href="http://people.csail.mit.edu/marcua/">adam marcus</a> ,
		<a href="http://db.csail.mit.edu/madden/">sam madden</a>
		&copy; 2011</div>
</body>
</html>
