{% extends 'home/base.html' %}

{% block header %}
&#149; {{conf.name}}
{% endblock %}

{% block css %}
.word:hover {text-decoration: line-through; border-bottom: none;}
td.count {font-size:10pt; padding-left: 10px; width: 6em;}
table.papers td {vertical-align: top; padding 5px;}
.paper {font-size:10pt; }
.authors {font-size:8pt;}
.author {padding-right: 5px;}
{% endblock %}

{% block content %}

{% load replace %}

<h2>Keywords from {{conf.name}} for years {{selectedstartyear}} - {{selectedendyear}}</h2>

<!--<div class='spark'>{{conf.counts.yearcounts}}</div>
<span class='spark'>{% for v in vals %}{{v}}{%if not forloop.last %},{%endif%}{%endfor%}</span></td>-->

<div>
	<h2>Overall top {{wordtrends|length}} keywords</h2> 
	
	{%if hidden %} 
	(excluding 
		{% for word in hidden %}
			{{word}} <a href="?hidden={{hidden|filterstr:word|join:","}}">[x] </a>
			{% if not forloop.last %}, {% endif %} 
		{%endfor%}.            
		{% if hidden %}<a href="?">Unhide all</a>{%endif%}
	)
	{% endif %}
	
</div>

<div style="margin: 10px">
	<table>
	{% for word, vals, paper in wordtrends %}
	<tr>
		<td class='word'><a href="?hidden={{hidden|join:","}}{% if hidden %},{%endif%}{{word}}">{{word}}</a></td>
		<td><span class='spark'>{% for v in vals %}{{v}}{%if not forloop.last %},{%endif%}{%endfor%}</span></td>
	</tr>
	{% if forloop.counter|divisibleby:10 %}
	</table>
	<table>
	{%endif%}
	{% endfor %}

	</table>
	<div style='clear:both'></div>
</div>

<div style="margin:10px; width: 90%; min-width: 600px; overflow-x: auto">
	<table>
		<tr>
	{% for year, tfidfs, counts, papers in stats_by_year %}
	<td style="vertical-align: top;">
	<table class='topk'>
		<tr><th class='year' colspan=2>{{year}}</th></tr>
		<tr><th colspan=2>By Count</th></tr>
		{% for word, count in counts %}
			<tr><td class='count'>{{count}}</td><td >{{word}}</td></tr>
		{% endfor %}
		
		
	</table>
	</td>
	{% endfor %}
	</tr>
	
	<tr>
	{% for year, tfidfs, counts, papers in stats_by_year %}
	<td style="vertical-align: top;">
		<table class='topk'>		
		<tr><th colspan=2>By Tf-idf</th></tr>
		{% for word, count in tfidfs %}
			<tr><td class='count'>{{count|floatformat:1}}</td><td >{{word}}</td></tr>
		{% endfor %}		
		</table>
	</td>
	{% endfor %}
	</tr>
	
	
	</table>
	<div style="clear:both"></div>
</div>

<h2>First Papers to use Top {{wordtrends|length}} Popular Keywords</h2>
<div style="margin: 10px">
	<table class='papers'>
	{% for word, vals, paper in wordtrends %}
	<tr>
		<td class='word'><a href="?hidden={{hidden|join:","}}{% if hidden %},{%endif%}{{word}}">{{word}}</a></td>
		<td>{{paper.conf.year}}</td>
		<td>
			<div class='paper'>{{paper.title}}</div>
			<div class='authors'>{% for author in paper.authors.all %}<span class='author'>{{author.name}}</span>{% endfor %}</div>
		</td>
	</tr>
	{% endfor %}

	</table>
	<div style='clear:both'></div>
</div>

<h2>Similar Conferences</h2>
<div style="margin: 10px">
  {% for sc in similarconferences %}
    <span style="padding: 0px 10px 0px 0px"><a href="/conference/{{ sc.toconf.name }}">{{ sc.toconf.name }}</a></span>
	{% if forloop.counter|divisibleby:5 %}
          <br />
	{% endif %}
  {% endfor %}
  <div style="clear:both"></div>
</div>
{% endblock %}




</body>
</html>
