{% extends 'home/base.html' %}

{% block header %}
&#149; {{conf.name}}
{% endblock %}

{% block content %}

{% load replace %}

<h2>Keywords from {{conf.name}} for years {{conf.counts.minyear}} - {{conf.counts.maxyear}}</h2>

<!--<div class='spark'>{{conf.counts.yearcounts}}</div>
<span class='spark'>{% for v in vals %}{{v}}{%if not forloop.last %},{%endif%}{%endfor%}</span></td>-->

<table width=600><tr><td><h2>Overall top {{wordtrends|length}} keywords {%if hidden%} (excluding {{hidden|expandcommas}}) {%endif%}</h2></table>

<div style="margin: 10px">
	<table>
	{% for word, vals in wordtrends %}
	<tr>
		<td class='word'>{{word}} <a href="?hidden={{hidden}}{% if hidden %},{%endif%}{{word}}">hide</a></td>
		<td><span class='spark'>{% for v in vals %}{{v}}{%if not forloop.last %},{%endif%}{%endfor%}</span></td>
	</tr>
	
	{% if forloop.counter|divisibleby:15 %}
	</table>
	<table>
	{%endif%}
	{% endfor %}
          {% if hidden %}<td><a href="?">Unhide all</a>{%endif%}
	</table>
	<div style='clear:both'></div>
</div>


<h2>Top topics by year</h2>




<div style="margin:10px; width: 90%; min-width: 600px; overflow-x: auto">
	<table>
		<tr>
	{% for year, words in topks %}
	<td>
	<table class='topk'>
		<tr><td class='year' colspan=2>{{year}}</td></tr>
		{% for word, count in words %}
			<tr><td class='count' style="font-size:10pt">{{count}}</td><td >{{word}}</td></tr>
		{% endfor %}
	</table>
	</td>
	{% endfor %}
	</tr>
	</table>
	<div style="clear:both">
</div>
</div>
{% endblock %}




</body>
</html>
