
    <style type="text/css">

#fig {
  width: 700px;
  height: 300px;
  position: relative;
}

#title {
  position: absolute;
  top: 70px;
  left: 200px;
  padding: 10px;
  background: white;
}

large {
  font-size: medium;
}

    </style>

<div id="center" style="clear:both; width: 700px; overflow-x:auto;">
	<div id="fig">
    <script type="text/javascript+protovis">

// The units and dimensions to visualize, in order.
{% autoescape off %}
var units = {{pclabels}}
var cars = {{pcdata}}
{% endautoescape %}

	var dims = pv.keys(units).filter(function(d) d != 'name');
	console.log(dims);
	dims.splice(0,0, 'name');
	labels = cars.map(function(row) row.name)
	lton = pv.numerate(labels);

	var maxs = pv.dict(dims, function(t) pv.max(cars, function(row) ((t != 'name' && row[t]) || 0 )))
	var mins = pv.dict(dims, function(t) pv.min(cars, function(row) ((t != 'name' && row[t]) || 99999 )))
	var gmax = pv.max(dims, function(k) maxs[k]);
	var gmin = 0;//pv.min(dims, function(k) mins[k]);
	console.log(gmax + "\t" + gmin);

	/* Sizing and scales. */
	var w = pv.keys(units).length * 50 + 50,
	    h = 200,
	    fudge = 0.5,
	    x = pv.Scale.ordinal(dims).splitFlush(100, w),
	    y = pv.dict(dims, function(t) {
				if (t == 'name')  
					return pv.Scale.ordinal(labels).splitFlush(0,h)
				return pv.Scale.linear(
	        		cars.filter(function(d) !isNaN(d[t])),
	        		function(d) gmin,//-fudge,
	        		function(d) gmax//+fudge
	        	).range(10, h-10)
		}),
	    c = pv.dict(labels, function(t) pv.Colors.category10().range()[pv.numerate(labels)[t]])

	/* Interaction state. */
	var filter = pv.dict(dims, function(t) {
		if (t == 'name') return {min: 0, max: labels.length};
	    return {min: y[t].domain()[0], max: y[t].domain()[1]};
	  }), active = "2000";

	/* The root panel. */
	var vis = new pv.Panel()
	    .width(w)
	    .height(h)
	    .left(30)
	    .right(30)
	    .top(30)
	    .bottom(20);

	// The parallel coordinates display.
	vis.add(pv.Panel)
	    .data(cars)
	  .add(pv.Line)
	    .data(dims)
	    .left(function(t, d) x(t))
	    .bottom(function(t, d)  y[t](d[t])   )
	    .strokeStyle("#ddd")
	    .lineWidth(1)
	    .antialias(false);

	vis.add(pv.Label)
	    .data(cars)
	    .left(0)
	    .bottom(function(d) y['name'](d['name']))
	    .text(function(d) d['name']);

	// Rule per dimension.
	rule = vis.add(pv.Rule)
	    .data(dims.filter(function(x)x!='name'))
	    .left(x)
		.strokeStyle('none');

	// Dimension label
	rule.anchor("top").add(pv.Label)
	    .top(-12)
	    .font("bold 10px sans-serif")
	    .text(function(d) d != 'name' ? units[d].name : '');

	// The parallel coordinates display.
	var change = vis.add(pv.Panel);

	var line = change.add(pv.Panel)
	    .data(cars)
	    .visible(function(d) dims.every(function(t) {
			if (t == 'name') {
				ret = lton[d[t]] >= filter[t].min && lton[d[t]] <= filter[t].max;
				//console.log(lton[d[t]] + "\t" + filter[t].min + "," + filter[t].max + "\t" + ret)
				return ret
			}
			else
				return (d[t] >= filter[t].min) && (d[t] <= filter[t].max)
		}))
	  .add(pv.Line)
	    .data(dims)
	    .left(function(t, d) x(t))
	    .bottom(function(t, d) y[t](d[t]))
	    .strokeStyle(function(t, d) {return c[d['name']] } )
	    .lineWidth(1);

	// Updater for slider and resizer.
	function update(d) {
	  var t = d.dim;	
	  if (t =='name') {
		filter[t].min = Math.max(0, (((h - d.y - d.dy) / h) * labels.length));
		filter[t].max = Math.min(labels.length, (((h - d.y ) / h) * labels.length));
		} else {
	  filter[t].min = Math.max(y[t].domain()[0], y[t].invert(h - d.y - d.dy));
	  filter[t].max = Math.min(y[t].domain()[1], y[t].invert(h - d.y));
	}
	  active = t;
	  change.render();
	  return false;
	}

	// Updater for slider and resizer.
	function selectAll(d) {
	  if (d.dy < 3) {
	    var t = d.dim;
		if (t == 'name') {
			filter[t].min = 0;
			filter[t].max = labels.length;
		} else {
	    	filter[t].min = Math.max(y[t].domain()[0], y[t].invert(0));
	    	filter[t].max = Math.min(y[t].domain()[1], y[t].invert(h));
	}
	    d.y = 0; d.dy = h;
	    active = t;
	    change.render();
	  }
	  return false;
	}

	/* Handle select and drag */
	var handle = change.add(pv.Panel)
	    .data(dims.map(function(dim) { return {y:0, dy:h, dim:dim}; }))
	    .left(function(t) x(t.dim) - 30)
	    .width(60)
	    .fillStyle("rgba(0,0,0,.001)")
	    .cursor("crosshair")
	    .event("mousedown", pv.Behavior.select())
	    .event("select", update)
	    .event("selectend", selectAll)
	  .add(pv.Bar)
	    .left(25)
	    .top(function(d) d.y)
	    .width(2)//function(t) t.dim == 'name' ? 2 : 10)
	    .height(function(d) d.dy)
	    .fillStyle(function(t)  "hsla(0,0,50%,.5)")
	    .strokeStyle('none')//function(t) t.dim == 'name' ? "none" : "white")
	    .cursor("move")
	    .event("mousedown", pv.Behavior.drag())
	    .event("dragstart", update)
	    .event("drag", update);

	handle.anchor("bottom").add(pv.Label)
	    .textBaseline("top")
	    .text(function(d) d.dim == 'name'? '' : filter[d.dim].min.toFixed(0) + units[d.dim].unit);

	handle.anchor("top").add(pv.Label)
	    .textBaseline("bottom")
	    .text(function(d) d.dim == 'name'? '' : filter[d.dim].max.toFixed(0) + units[d.dim].unit);

	vis.render();

    </script>
  </div>
</div>

